body {
    
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: linear-gradient(to right, #0B60B0, #B4BDFF, #86B6F6);
    width: 100%;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    padding-left: 30px;
    margin-right: 10px;

}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding-right: 30px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.login-btn {
    margin-right: 30px;
    margin-left: auto;
    padding: 10px 16px;
    background-color: #176B87;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.login-btn1 {
    margin-right: 30px;
    margin-left: auto;
    padding: 10px 16px;
    color: #fff;
    border: none;
    font-weight: bold;
}

main {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 80px;
}

img {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    background: linear-gradient(to right, #092635, #5C8374, #1B4242);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.customer-link {
    background-color: #265073;
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}

.admin-link {
    background-color: #1B4242;
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}

.card-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: start;
}

.card {
    margin: 10px;
    width: 18%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    padding: 30px;
    text-align: center;
    background-color: #ffff;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 80%;
    border-radius: 5px;
}

.card button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007BFF;
    /* Primary color, you can adjust this */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.card button:hover {
    background-color: #0056b3;
    /* Darker shade on hover */
}

.card input {
    width: 40px;
    text-align: center;
    margin: 0 5px;
}

.edit-btn,
.delete-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.edit-btn img,
.delete-btn img {
    width: 70%;
}