<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beluga Phone Phone Shop</title>
    <link rel="stylesheet" href="../../../public/style/styles.css">
</head>
<body>

    <header>
        <div class="logo"><img src="../../../public/beluga_logo1.png" alt="Logo"> <a>Beluga Phone Shop</a></div>
        <a href="../../home/index.php"><button class="login-btn">กลับหน้าหลัก</button></a>
    </header>

    <center>
    <br/>
    <h2>เข้าสู่ระบบผู้ใช้งาน</h2>
        <br/>
        <form method="post" action="..\controller\signIn.php">
            <table width='500px'>
                <tr>
                    <td width='100px' style='padding: 10px; font-weight: bold;'>username<a style="color:red;"> *</a></td>
                    <td><input type="text" name="username" required style="width: 95%; padding: 8px; margin: 10px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; background-color: #EEEEEE;"></td>
                </tr>
                <tr>
                    <td width='100px' style='padding: 10px; font-weight: bold;'>รหัสผ่าน<a style="color:red;"> *</a></td>
                    <td><input type="password" name="password" required style="width: 95%; padding: 8px; margin: 10px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; background-color: #EEEEEE;"></td>
                </tr>
            </table>
            <br />
            <input type="submit" value="เข้าสู่ระบบ" style="width: 150px; background-color: #3A4D39; color: white; padding: 10px; border: none; border-radius: 5px; cursor: pointer;">
        </form>
        <br/>
        </center>

</body>
</html>
